{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h1 class="fw-bold text-uppercase">{% trans "Change Password" %}</h1>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                <p><label class="form-label" for="id_oldpassword">Current Password:</label>
                <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" required id="id_oldpassword" class="form-control form-control-lg"></p>
                <p><label class="form-label" for="id_password1">New Password:</label> 
                <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required id="id_password1" class="form-control form-control-lg"></p>
                <p><label class="form-label" for="id_password2">New Password (again):</label> 
                <input type="password" name="password2" placeholder="New Password (again)" required id="id_password2" class="form-control form-control-lg"></p>
                <button type="submit" class="btn btn-primary btn-block" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    <div>
{% endblock %}
