{% extends "base.html" %}

{% load i18n %}
{% block head_title %}
{% trans "Change Password" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <h1>{% trans 'Your password is now changed.' %}</h1>
    </br>
        <div class="float-center">
            <h2>
              <a class="fw-bold text-primary" href="{% url 'account_login' %}">
                {%trans "Please Sign in" %}</a>
              </h2>
          </div>
    </div>
</div>
{% endblock %}
