{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
    <h1>{% trans "Password Reset" %}</h1>

    <h2>{% trans "Enter your e-mail address below and we'll send you an e-mail allowing you to reset it." %}</h2>
    </br>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <label for="id_email">E-mail:</label>
        <input class="form-control form-control-lg" type="email" name="email" placeholder="E-mail address" autocomplete="email" required id="id_email">
        </br></br>
        <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Reset My Password' %}" />
    </form>
    </div>
</div>
{% endblock %}
