#!/bin/bash

WANTED_VERSION=3.10.11
PROJECT_PYENV_NAME=django_keycloak

if [ $(pyenv versions | grep ${WANTED_VERSION} | wc -l) -eq "0" ]; 
then 
    pyenv install ${WANTED_VERSION}
fi

if [ $(pyenv versions | grep '\-\->' | grep ${PROJECT_PYENV_NAME} | wc -l) -eq "0" ]; 
then 
    pyenv virtualenv ${WANTED_VERSION} ${PROJECT_PYENV_NAME}
fi

pyenv local ${PROJECT_PYENV_NAME}
pyenv which pip
pyenv which python
pyenv which python3
pip list

if [ -f ".env" ]; then
    dotenv
fi
