{% extends 'base.html' %}
{% load static %}

{% block head_title %}
Bank Accounts
{% endblock%}

{% block content %}

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Owner</th>
            <th>IBAN</th>
            <th>Balance</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for account in accounts%}
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                        <p class="fw-bold mb-1">{{account.owner}}</p>
                        <p class="text-muted mb-0"></p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">{{account.iban}}</p>
                <p class="text-muted mb-0"></p>
            </td>
            <td>{{ account.balance_from_transactions }} {{account.currency}}</td>
            <td>
                <span class="badge {{account.badge}} rounded-pill d-inline">{{ account.status_str}} </span>
            </td>
            <td>
                {%for action in account.actions %}
                <form action="{{ action.url }}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"
                        value="{{action.value}}">
                </form>
                {%endfor%}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form action="" method="post">
                {% csrf_token %}
                <td>{{form.owner}}</td>
                <td>IBAN:{{form.iban}}
                    currency:
                    {{form.currency}}
                </td>
                <td> {{form.balance}} </td>
                <td><input type="submit" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"
                        value="Add"></td>
            </form>
        </tr>
    </tbody>
</table>
{% endblock content %}