{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/img/Fraction_Energy.ico" />

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker3.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include "snippets/sidebar.html" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            {% include "snippets/topbar.html" %}
            {% include "snippets/messages.html" %}
            <!-- Main Content -->
            <div id="content">
                {% block content %}
                {% endblock content %}
            </div>
            {% include "snippets/footer.html" %}
            <!-- End of Content Wrapper -->
        </div>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- End of Page Wrapper -->
    </div>
    {% if request.user.is_authenticated %}
    {% include "snippets/logout_modal.html" %}
    {% endif %}
    {% include "snippets/scripts.html" %}
</body>

</html>