{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title%}
{{head_title}}
{% endblock%}
{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    {% include "snippets/factory_card.html" %}
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="text-center">
          <h2>{% trans "Campaign" %}</h2>
        </div>
        <table class="table table-striped custom-table">
          <tbody>
            <tr>
              <td> {% trans "Status" %} </td>
              <td> {{campaign.status_str}}</td>
            </tr>
            <tr>
              <td> {% trans "Campaign end date" %}</td>
              <td> {{campaign.start_date}}</td>
            </tr>
            <tr>
              <td> {% trans "Duration" %} </td>
              <td> {{campaign.duration}} {% trans "months" %} </td>
            </tr>
            <tr>
              <td> {% trans "Total amount offered" %}</td>
              <td> {{campaign.amount}} </td>
            </tr>
            <tr>
              <td> {% trans "Total share offered" %} </td>
              <td> {{campaign.persent_from_profit}} % </td>
            </tr>
            <tr>
              <td> {% trans "Plaform commision" %}</td>
              <td> {{campaign.commision}} % </td>
            </tr>
            <tr>
              <td> {% trans "Price per kW production capacity" %}</td>
              <td> {{campaign.price_per_kw}} </td>
            </tr>
          <tbody>
        </table>
      </div>
    </div>

  </div>
  {% if investors|length > 0 %}
  <div class="container py-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <h2 class="text-center">{% trans "Investors" %}</h2>
        <table class="table table-striped custom-table table-secondary table-bordered">
          <thead>
            <th> {% trans "Status" %}</th>
            <th> {% trans "Amount" %} </th>
            <th> {% trans "Investor" %}</th>
          </thead>
          <tbody>
            {% for investment in investors %}
            <tr>
              <td>{{ investment.status }}</td>
              <td>{{ investment.amount }}</td>
              <td>
                <img class="img-profile rounded-circle topbar nav-item nav-link"
                  src="{{ investment.user_profile_avatar}}">
                <a href={{ investment.user_profile_link }}> {{ investment.user_profile }}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}

</section>
{% endblock content %}