{% load vei_platform_utils %}
{% load crispy_forms_tags %}
{% load i18n %}

<div class="row justify-content-center mb-3">
  <div class="col-md-12 col-xl-10">
    <h2 class="text-center">{% trans "Campaings for collection investors" %}</h2>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <th>{% trans "Status" %} </th>
        <th>{% trans "Campaign end date" %}</th>
        <th>{% trans "Share[%]" %}</th>
        <th>{% trans "Campaing progress" %}</th>
        <th>{% trans "Number of investors" %}</th>
        <th>{% trans "Price per kW" %}</th>
      </thead>
      {%for campaign in campaigns %}
      <tr class="bg-light">
        <td>{{campaign.status_str}}</td>
        <td>{{campaign.start_date}}</td>
        <td>{{campaign.persent_from_profit}}</td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{campaign.progress.percent}}%"
              aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          {{campaign.progress.total}} {% trans "from" %}
          {{campaign.amount}}
        </td>
        <td><a href={{campaign.get_absolute_url}}> {{campaign.count_investitors}}</a></td>
        <td>{{campaign.price_per_kw}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>