{% extends 'base.html' %}
{% load static %}

{% block head_title %}
DASHBOARD
{% endblock%}
{% block content %}
{% if user.is_authenticated %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        {% if my_legal_entity %}
        <p>Cheers, no new tasks for {{my_legal_entity.native_name}}</p>
        {% else %}
        <h1>TAX ID</h1>
        <h2>No tax info found. Please fill it <a href="{% url 'my_entity'     %}">here</a></h2>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock content %}