{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
{% trans "Electricity price" %}
{% endblock%}
{% block content %}
<section>
    <div class="row justify-content-center mb-3">
        {% crispy form %}
        <div id="container" style="width: 90%;">
            <canvas id="energy-price-chart"
                data-url="{% url 'energy_price_chart' %}?plan={{ plan_slug | urlencode}}&display_currency={{display_currency|urlencode}}&timezone={{timezone|urlencode}}&days={{days|urlencode}}"></canvas>
        </div>
    </div>
</section>
{% include "snippets/energy_price_chart.html" %}
{% endblock content %}