{% extends 'base.html' %}
{% block head_title%}
Solar Estates - DASHBOARD
{% endblock%}
{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    {% include "factory_header.html" %}

    {% if factory_is_listed %}
    <div>
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <th>Start</th>
          <th>Amount</th>
          <th>Share[%]</th>
          <th>Available</th>
          <th>Price per kW</th>
        </thead>
        {%for item in campaigns %}
        <tr class="bg-light">
          <td>{{item.start_date}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.persent_from_profit}}</td>
          <td>{{item.persent_from_profit}}</td>
          <td>{{item.price_per_kw}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}

    <form method="post">
      <table class="table align-middle mb-0 bg-white">
        {% csrf_token %}
        {{ formset.management_form }}
        <tr>
          <td> Manager </td>
          {% if manager_profile %}
          <td> <a href={{manager_profile.get_href}}> {{ manager_profile.get_display_name }} </a> </td>
          <td>
            <img class="img-profile rounded-circle topbar nav-item nav-link " src={{ manager_profile.get_avatar_url }}>
          </td>
          {% else%}
          <td> - </td>
          <td> <input type="submit" value="take" name="_become_manager" class="btn btn-secondary btn-sm"> </td>
          {% endif%}
        </tr>
        <div>{{new_campaign_form}}</div>
        <td></td>
        <td></td>

        <td>
          <input type="submit" value="Sell to investors" name="_do_it" class="btn btn-primary btn-sm">
        </td>

      </table>
    </form>
    {% endif %}




  </div>
</section>



{% endblock content %}