{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
{% trans "Electricity price" %}
{% endblock%}
{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    {% include "snippets/factory_card.html"%}
  </div>
</section>

<section>
  <div class="row justify-content-center mb-3">
    {% crispy time_window_form %}
  </div>
  <div class="row justify-content-center mb-3">
    <div id="container" style="width: 90%;">
      {{ start_date }}
      {{ num_days }}
      <canvas id="energy-production-chart"
        data-url="{% url 'factory_production_chart' %}?factory={{ factory.slug | urlencode}}&num_days={{num_days | stringformat:'i'}}&start_date={{start_date | date:'c'}}">
      </canvas>



      {% with start_date=start_date|urlencode %}
      {% with factory=factory.slug|urlencode %}
      {% url 'factory_production_chart' factory=factory start_date=start_date num_days=num_days as final_url %}
      {% endwith %}
      {% endwith %}
      {{final_url}}
      <canvas id="energy-production-chart" data-url="{{final_url}}">
      </canvas>
    </div>
  </div>
  {% include "snippets/energy_production_chart.html" %}
</section>


<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-dark" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Year</th>
              <th>Month</th>
              <th>File</th>
            </tr>
          </thead>
          <tbody>
            {% for report in reports %}
            <tr>
              <td>{{report.year}}</td>
              <td>{{report.month}}</td>
              <td><a href={{report.url}}>{{report.name}}</a></td>
            </tr>
            {% endfor %}
            {% if upload_form %}
            <tr>
              <td>Add</td>
              <td>excel </td>
              <td>
                <form action='' enctype='multipart/form-data' method='post'>
                  {% crispy upload_form %}
                </form>
              </td>
              {% endif %}
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</section>
{% endblock content %}