{% extends 'base.html' %}
{% block head_title%}
Solar Estates - DASHBOARD
{% endblock%}
{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    {% include "factory_header.html" %}
    <form method="post">
      <table>
        {% csrf_token %}
        {{ formset.management_form }}
        <tr>
          <td> Manager </td>
          {% if manager_profile %}
          <td> <a href={{manager_profile.get_href}}> {{ manager_profile.get_display_name }} </a> </td>
          <td>
            <img class="img-profile rounded-circle topbar nav-item nav-link " src={{ manager_profile.get_avatar_url }}>
          </td>
          {% else%}
          <td> - </td>
          <td> <input type="submit" value="take" name="_become_manager" class="btn btn-secondary btn-sm"> </td>
          {% endif%}
        </tr>
        <div>{{ create_listing_form}}</div>


        <tr>
          <td> {{ form.capitalization.errors }} {{ form.capitalization.label_tag }} </td>
          <td> {{ form.capitalization}} </td>
        </tr>
        <tr>
          <td> {{ form.start_date.errors}} {{ form.start_date.label_tag}} </td>
          <td> {{ form.start_date}} </td>
        </tr>
        <tr>
          <td> {{ form.production_plan.errors}} {{ form.production_plan.label_tag}} </td>
          <td> {{ form.production_plan}} </td>
          <td>
            <input type="submit" value="edit" name="_edit_production" class="btn btn-secondary btn-sm">
          </td>
          <td>
            <input type="submit" value="add" name="_add_production" class="btn btn-secondary btn-sm">
          </td>
        </tr>
        <tr>
          <td> {{ form.electricity_prices.errors}} {{ form.electricity_prices.label_tag}} </td>
          <td> {{ form.electricity_prices}} </td>
          <td>
            <input type="submit" value="edit" name="_edit_price" class="btn btn-secondary btn-sm">
          </td>
          <td>
            <input type="submit" value="add" name="_add_price" class="btn btn-secondary btn-sm">
          </td>
        </tr>
        <tr>
          <td>{{ form.bank_loan.errors}} {{ form.bank_loan.label_tag}} </td>
          <td>{{ form.bank_loan}} </td>
          <td>
            <input type="submit" value="edit" name="_edit_bank_loan" class="btn btn-secondary btn-sm">
          </td>
          <td>
            <input type="submit" value="add" name="_add_bank_loan" class="btn btn-secondary btn-sm">
          </td>
        </tr>
        <tr>
          <td>{{ form.start_date.errors}} {{ form.start_date.label_tag}} </td>
          <td> {{ form.start_date}} </td>
        </tr>
        <tr>
          <td> {{ form.start_year.errors}} {{ form.start_year.label_tag}} </td>
          <td> {{ form.start_year}} </td>
        </tr>
        <tr>
          <td> {{ form.end_year.errors}} {{ form.end_year.label_tag}} </td>
          <td> {{ form.end_year}} </td>
        </tr>

      </table>
      <input type="submit" value="Изчисли" name="_do_it" class="btn btn-primary btn-sm">

      {{form_listing}}
    </form>



  </div>
</section>


{% if form_data %}
<hr>
<div class="text-center">
  <h5>График на Амортизация</h5>
  <h5>{{ total }} </h5>
</div>
<table id="table" data-toggle="table" data-pagination="true" data-page-size="6" data-page-list="[6, 12, 24, 60, 120]">
  <thead>
    <tr>
      <th class="text-center">Месец</th>
      <th class="text-center">Вноска</th>
      <th class="text-center">Лихви</th>
      <th class="text-center">Главница</th>
      <th class="text-center">Баланс</th>
    </tr>
  </thead>
  <tbody>

    {% for number, payment, interest, principal, balance in amortization_schedule %}
    <tr>
      <td class="text-center">{{ number }}</td>
      <td class="text-right"> {{ payment }}</td>
      <td class="text-right"> {{ interest }}</td>
      <td class="text-right"> {{ principal }}</td>
      <td class="text-right"> {{ balance }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<hr>
{% endif %}
<section>
</section>
{% endblock content %}