{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
{% trans "Electricity price" %}
{% endblock%}
{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    {% include "snippets/factory_card.html"%}
  </div>
</section>
<section>
  <div class="row justify-content-center mb-3">
    <div id="container" style="width: 90%;">
      <canvas id="energy-production-chart"
        data-url="{% url 'factory_production_chart' %}?factory={{ factory.slug | urlencode}}">
      </canvas>
    </div>
  </div>
</section>
{% include "snippets/energy_production_chart.html" %}
{% endblock content %}