{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head_title%}
VEI - DASHBOARD
{% endblock%}
{% block content %}
    <div class="container py-5">
        <div class="text-center text-primary">
            <h2> Електроцентали от възобновяеми източници на енергия</h2>
            <br>
        </div>
        {% if form %}
        {% crispy form %}
        {% endif %}
        {% include "snippets/factories_list.html" %}
        {% include "snippets/pagination.html" %}
    </div>
{% endblock content %}