{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title%}
Solar Estates - DASHBOARD
{% endblock%}
{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    {% include "snippets/factory_card.html"%}
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
    {% if factory_is_listed %}
    <div>
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <th>Начална дата</th>
          <th>Сума</th>
          <th>Дял[%]</th>
          <th>Налични за инвестирорите</th>
          <th>Цена на kW</th>
        </thead>
        {%for item in listings %}
        <tr class="bg-light">
          <td>{{item.start_date}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.persent_from_profit}}</td>
          <td>{{item.persent_from_profit}}</td>
          <td>{{item.price_per_kw}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}


    <form method="post">
      <table class="table align-middle mb-0 bg-white">
        {% csrf_token %}
        <div>{{create_listing_form}}</div>
        <td>
          <input type="submit" value="Предложи на инвестирорите" name="_do_it" class="btn btn-primary btn-sm">
        </td>
      </table>
    </form>
    {% endif %}
  </div>
</div>
    




  </div>
</section>



{% endblock content %}