{% extends 'base.html' %}
{% load static %}

{% block head_title %}
Home
{% endblock%}
{% block content %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="static/img/login_img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content text-dark" data-aos="fade-right">
                <div class="text-center">
                    <h2>FractionEnergy</h2>
                </div>
                <hr>
                <p class="fst-italic">
                    платформа за споделено инвестиране във производство на електроенергия от
                    възобновяеми източници.
                </p>
                <ul>
                    <li> Ако търсите да инвестирате пари във възобновяеми източници на
                        енергия или търсите капитали за вашият
                        следваш проект, тук е мястото.</li>
                    <li>Целта на нашата платформата е да позволим на обикновените
                        хора да инвеситат в изградени или
                        предстоящи елекроцентрали.
                    </li>
                    <li> Ако сте производител и не ви допадат условията на банковите
                        заеми, които стават все по-неизгодни, то
                        може да продадете дял от вашата централа, за да финансирате нейнто изграждане или предсрочно да
                        погасите ваши задължения.</li>
                </ul>
                <p>
                    Свързвайки директно множество малки инвеститори с производители, ние позволяваме да се избегнат
                    лихвите на банковите заеми. Вярваме, че по-този начин спомагаме за по-честно и по-умно инвестиране в
                    производството на електроенергия от възобновяеми източници.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
{% endblock content %}