{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title%}
{{head_title}}
{% endblock%}
{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        {% include "snippets/factory_card.html"%}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <table class="table table-striped custom-table">
                    <tbody>
                        <tr>
                            <td> {% trans "Start date" %}</td>
                            <td> {{campaign.start_date}}</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> {% trans "Duration" %} </td>
                            <td> {{campaign.duration}} </td>
                            <td> {% trans "months" %} </td>
                        </tr>
                        <tr>
                            <td> {% trans "Total amount listed" %} </td>
                            <td> {{campaign.amount}} </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> {% trans "Total shares offered" %} </td>
                            <td> {{campaign.persent_from_profit}} </td>
                            <td> % </td>
                        </tr>
                        <tr>
                            <td> {% trans "Platform commision" %} </td>
                            <td> {{campaign.commision}} </td>
                            <td> % </td>
                        </tr>
                        <tr>
                            <td> {% trans "Price per kW" %} </td>
                            <td> {{campaign.price_per_kw}} </td>
                            <td> </td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}