{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <img class="img-profile rounded-circle" src={{user_profile.get_avatar_url}}></img>
        <table class="table w-auto text-lg">
            <tr>
                <td>User</td>
                <td> {{ user_profile.get_display_name }} </td>
            </tr>
            <tr>
                <td>is staff</td>
                <td> {{ user_profile.is_staff }} </td>
            </tr>
            <tr>
                <td>is_active</td>
                <td> {{ user_profile.is_active }}</td>
            </tr>
            <tr>
                <td>Member since</td>
                <td> {{ user_profile.date_joined }}</td>
            </tr>
            <tr>
                <td>Last Login</td>
                <td> {{ user_profile.last_login }}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}