<script>
    $(function () {
        var $my_chart = $("#energy-production-chart");
        $.ajax({
            url: $my_chart.data("url"),
            success: function (data) {
                var ctx = $my_chart[0].getContext("2d");
                new Chart(ctx, {
                    data: {
                        labels: data.x_values,
                        datasets: [{
                            type: 'bar',
                            yAxisID: 'leftY',
                            label: data.y1_label,
                            data: data.y1_values,
                            fill: false,
                            stepped: false,
                            step: 'after',
                            //step: 'middle',
                            tension: 0.1,
                            //borderColor: 'rgb(0, 99, 132)',
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        },
                        {
                            type: 'line',
                            yAxisID: 'rightY',
                            label: data.y2_label,
                            data: data.y2_values,
                            fill: false,
                            stepped: true,
                            step: 'after',
                            //step: 'middle',
                            tension: 0.1,
                            borderColor: 'rgb(0, 99, 132)',
                            //backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        }
                        ],
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'bottom',
                        },
                        title: {
                            display: true,
                            text: data.title
                        },
                        layout: {
                            padding: {
                                left: 10,
                                right: 25,
                                top: 25,
                                bottom: 0
                            }
                        },
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'hour'
                                },
                                display: true,
                                title: {
                                    display: true,
                                    text: data.x_scale,
                                },
                                ticks: {
                                    autoSkip: false,
                                    maxRotation: 0,
                                    major: {
                                        enabled: true
                                    },
                                    // color: function(context) {
                                    //   return context.tick && context.tick.major ? '#FF0000' : 'rgba(0,0,0,0.1)';
                                    // },
                                    font: function (context) {
                                        if (context.tick && context.tick.major) {
                                            return {
                                                weight: 'bold',
                                            };
                                        }
                                    }
                                }
                            },
                            leftY: {
                                type: 'linear',
                                position: 'left',
                                beginAtZero: true,
                                ticks:
                                {
                                    color: 'blue'
                                },
                                grid: { display: false },
                                title: {
                                    display: true,
                                    text: data.y_scale,
                                },
                            },
                            rightY: {
                                type: 'linear',
                                position: 'right',
                                beginAtZero: true,
                                ticks:
                                {
                                    //color: 'green',
                                    color: 'rgb(0, 99, 132)',
                                },
                                grid: { display: false }
                            },
                        },
                    }
                });

            }
        });

    });

</script>