{% if components|length > 0 %}
{% load vei_platform_utils %}
{% load i18n %}

<div class="row justify-content-center">
    <div class="col-md-12 col-xl-10">
        <h2 class="text-center">{% trans "Details for this project" %}</h2>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <th>{% trans "Type" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Power [kw]" %}</th>
                <th>{% trans "Count" %}</th>
                <th>{% trans "Document" %}</th>
            </thead>
            <tbody>
                {% for comp in components %}
                <tr class="bg-light">
                    <td>{{comp.get_component_type_display }}</td>
                    <td>
                        {% if comp.description %}

                        <a data-toggle="collapse" href="#collapseExample_{{ forloop.counter }}" aria-expanded="false"
                            aria-controls="collapseExample_{{ forloop.counter }}">
                            {{comp.name}}
                        </a>
                        {% else %}
                        {{comp.name}}
                        {% endif %}
                    </td>
                    <td>{{comp.power_in_kw}}</td>
                    <td>{{comp.count}}</td>
                    <td>{% if comp.docfile %}
                        <a href="/media/{{comp.docfile}}">
                            <i class="fa fa-file"></i>
                            {% comment %}
                            {{comp.docfile.name|basename}}
                            {% endcomment %}
                        </a>
                        {% endif %}
                    </td>
                </tr>

                {% if comp.description %}

                <tr>
                    <td colspan="5" class="text-justify">
                        <div class="collapse" id="collapseExample_{{ forloop.counter }}">
                            {{ comp.description | linebreaks }}
                        </div>
                    </td>
                </tr>
                {% endif %}

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}