{% load vei_platform_utils %}
{% load i18n %}

{% if factory|has_completed_campaign %}
<div class="d-flex flex-row align-items-center mb-1">
    <p class="mt-4 mb-1 text-center" style="font-size: 1.00rem;">
        <a href="{{factory|last_completed_campaign_href}}">
            <button class="btn btn-info btn-block" type="button">
                {% trans "Successfully completed campaign for "%}
                {{ factory|last_completed_campaign_amount }}
            </button>
        </a>
    </p>
</div>
{% else %}
<div class="d-flex flex-row align-items-center mb-1">
    <p class="mt-4 mb-1 text-center" style="font-size: 1.00rem;">
        {% trans "No active campagin" %}
    </p>
</div>
{% endif %}