{% load vei_platform_utils %}
{% load i18n %}

{% with campaign=factory|get_active_campaign %}
{% if campaign %}
{% with progress=campaign.progress %}
<p class="mt-4 mb-1 text-center" style="font-size: .77rem;">
    <span>{% trans "Progress so far" %} <strong>{{progress.percent}}</strong> %</span>
    <br>
    <span>{{progress.total}} / {{campaign.amount}} </span>
</p>
<div class="progress rounded" style="height: 15px;">
    <div class="progress-bar" role="progressbar" style="width: {{progress.percent}}%"
        aria-valuenow=" {{progress.percent}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endwith %}
{% else %}
{% endif %}
{% endwith %}