{% load crispy_forms_tags %}

<table class="table">
    {{ formset.management_form }}
    {% for form in formset.forms %}
    {% if forloop.first %}
    <thead>
        <tr>
            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% endif %}
        <tr class="{% cycle row1 row2 %} formset_row">
            {% for field in form.visible_fields %}
            <td>
                {# Include the hidden fields in the form #}
                {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% endif %}
                {{ field | as_crispy_field }}
            </td>
            {% endfor %}
        </tr>
        {% if forloop.last %}
    </tbody>
    {% endif %}
    {% endfor %}
</table>

<script type="text/javascript">
    $(function () {
        $('.formset_row').formset({
            addText: '<i class="fas fa-plus-circle"></i>',          // Text for the add link
            deleteText: '<i class="fas fa-trash"></i>',            // Text for the delete link
        });
    })
</script>