{% load crispy_forms_tags %}


{% comment %}

{{ formset.management_form }}

{% if helper %}
{% crispy formset helper %}
{% else %}
{{ formset|crispy }}
{% endif %}

{% endcomment %}



<table class="table table-striped table-bordered ">
    {{ formset.management_form }}
    {% for form in formset.forms %}
    {% if forloop.first %}
    <thead>
        <tr>
            {% comment %}
            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}
            {% endcomment %}
        </tr>
    </thead>
    <tbody>
        {% endif %}


        <tr class="{% cycle row1 row2 %} formset_row">
            <td>
                {% for field in form.visible_fields %}

                {# Include the hidden fields in the form #}
                {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% endif %}
                {{ field | as_crispy_field }}
                {% if field.name == 'docfile' or field.name == 'description' %}
            </td>
            <td>
                {% endif %}

                {% endfor %}
            </td>
        </tr>
        {% if forloop.last %}
    </tbody>
    {% endif %}
    {% endfor %}
</table>

<script type="text/javascript">
    $(function () {
        $('.formset_row').formset({
            addText: '<i class="fas fa-plus-circle"></i>',          // Text for the add link
            deleteText: '<i class="fas fa-trash"></i>',            // Text for the delete link
        });
    })
</script>