{% load i18n %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="/static/img/Fraction_Energy.ico" style="width:60%;"></img>
        </div>
        <div class="sidebar-brand-text mx-3">{{ platform_name }}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{% trans "Dashboard" %}</span></a>

    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'campaigns'  %}">
            <i class="fas fa-fw fa-search-dollar"></i>
            <span>{% trans "Offers for investors" %}</span>
        </a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'my_factories'  %}">
            <i class="fas fa-fw fa-warehouse"></i>
            <span>{% trans "Offer your Electrical factory" %}</span>
        </a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'team'  %}">
            <i class="fas fa-fw fa-users"></i>
            <span>{% trans "About us" %}</span>
        </a>
    </li>

    {% if user.is_superuser %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'factories_list_all'  %}">
            <i class="fas fa-fw fa-warehouse"></i>
            <span>{% trans "Factory list" %}</span>
        </a>
    </li>


    <!-- Nav Item - Profile Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#admin_collapseUtilities"
            aria-expanded="true" aria-controls="admin_collapseUtilities">
            <i class="fas fa-fw fa-user"></i>
            <span>{% trans "Admin" %}</span>
        </a>
        <div id="admin_collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                <a class="collapse-item" href="{% url 'platform_legal'    %}">{% trans "Platform legal" %} </a>
                <a class="collapse-item" href="{% url 'scriping_tools'     %}">{% trans "Scriping tools" %}</a>
            </div>
        </div>
    </li>
    {% endif %}


    <!-- Divider -->
    <hr class="sidebar-divider">
    {% if request.user.is_authenticated %}
    <!-- Nav Item - Profile Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-user"></i>
            <span>{% trans "Profile" %}</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                <a class="collapse-item" href="{% url 'my_profile'    %}">{% trans "My profile" %}</a>
                <a class="collapse-item" href="{% url 'my_entity'     %}">{% trans "KYC" %}</a>
                <a class="collapse-item" href="{% url 'oidc_logout'   %}">{% trans "Logout" %} </a>
            </div>
        </div>
    </li>
    {% else %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'my_profile'  %}">
            <i class="fas fa-fw fa-money-check"> </i>
            <span>{% trans "Login or Register" %}</span>
        </a>
    </li>
    {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->