{% load i18n %}


<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo"><a href="{% url 'dashboard'    %}">{{ platform_name }}</span></a></div>
            <ul>
                <li><a href="{% url 'dashboard'    %}">{% trans "Home" %}</li>
                <li><a href="{% url 'factories_list'  %}">{% trans "Invest" %}</a></li>
                <li class="label">My Investments</li>
                <li class="label">My Plants</li>
                <li><a href="/plants/add"><i class="ti-factory"></i> Add plant</a></li>
                <li><a class="sidebar-sub-toggle"><i class="ti-user"></i> {% trans "Profile"         %} <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="{% url 'account_profile'    %}">{% trans "Profile"         %}</a></li>
                        <li><a href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a></li>
                        <li><a href="{% url 'account_reset_password'  %}">{% trans "Reset Password " %}</a></li>
                        <li><a href="{% url 'oidc_logout'          %}">{% trans "Logout"          %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->