<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <form class="form-inline">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
    </form>
    {% comment %}
    {% include "snippets/topbar_search.html" %}
    {% endcomment %}
    <ul class="navbar-nav ml-auto">
        <a href="/">
            <img class="img-fluid" style="width: auto; height: 80px;" src={{platform_logo}}> </img>
        </a>
    </ul>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        {% comment %}
        {% include "snippets/topbar_search_toggle.html" %}
        {% endcomment %}
        {% comment %}
        {% include "snippets/topbar_alerts.html" %}
        {% include "snippets/topbar_messages.html" %}
        {% include "snippets/topbar_balance.html" %}
        {% endcomment %}
        <div class="topbar-divider d-none d-sm-block"></div>
        {% include "snippets/topbar_user.html" %}
        <form action="/i18n/setlang/" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <select name="language">
                <option value="en">English</option>
                <option value="nl">Dutch\Nederlands</option>
                <option value="ru">Russian\Русский</option>
                <option value="zh-cn">Simplified Chinese-简体中文</option>
            </select>
            <input type="submit" value="Go" />
        </form>  
    </ul>
</nav>
<!-- End of Topbar -->